@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#ecf0f1] text-darkColor dark:bg-darkBg dark:text-white transition-all duration-300;
}
::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  @apply bg-[#c4c4c4];
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
img {
  -webkit-user-drag: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background: transparent !important;
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  color: inherit;
  background: inherit;
  border: inherit;
}
